/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);

  font-family: "Nunito Sans", sans-serif;
  color: #4b5d68;
  font-weight: 500;
  font-size: 18px;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

/* NAVIGATION */
.navigation {
  height: 90px;
  width: 1120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
}

.company-logo {
  display: flex;
  align-items: end;
  gap: 5px;
}

.logo-circle {
  width: 20px;
  height: 20px;

  border-radius: 20px;

  background-color: #9c69e2;
}

.logo-ellipse {
  width: 20px;
  height: 35px;

  border-radius: 20px;

  background-color: #f063b8;
}

.nav-items-list {
  margin-right: 300px;

  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;

  cursor: pointer;
}

.nav-item:before {
  content: "";
  display: block;

  width: 0;
  height: 3px;

  background-color: #f063b8;

  position: absolute;
  left: 0;
  bottom: -5px;

  transition: all 0.1s linear;
}

.active-item {
  font-weight: 800;
}

.nav-button {
  width: 210px;
  height: 60px;

  font-weight: 800;

  flex-shrink: 0;

  cursor: pointer;

  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transition: 0.3s;
}

/* HEADER */
.header-content {
  height: 700px;

  display: flex;

  position: relative;
}

.header-text-area {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.header-main-heading {
  color: #212353;
  font-family: "Roboto";
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
}

.header-subtitle {
  width: 380px;

  font-size: 18px;
  line-height: 160%;
}

.header-img {
  width: 880px;

  position: absolute;
  right: 0;
  bottom: 0;
}

.header-button {
  width: 170px;
  height: 60px;
  flex-shrink: 0;

  background-color: #9c69e2;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  color: #ffffff;
  font-weight: 800;

  transition: 0.3s;
}

/* DESCRIPTION */

.description {
  width: 1100px;
  height: 560px;
  background: #f063b826;

  border-radius: 50px;
  margin: 80px auto;
  padding: 20px 0;

  display: flex;
  gap: 50px;
}

.description-text-area {
  width: 470px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  margin-bottom: 30px;

  color: #212353;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

.description-text {
  font-size: 18px;
  line-height: 160%;
}

/* FEATURES */

.features {
  width: 1100px;

  margin: 80px auto 0;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-subtitle {
  width: 580px;

  margin-top: 10px;
  margin-bottom: 70px;

  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

.tiles-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.tile {
  width: 530px;
  height: 400px;

  display: flex;
  align-items: center;

  position: relative;
}

.tile-bg {
  z-index: -1;

  position: absolute;
  right: 0;
}

.tile-img {
  position: absolute;
  left: 0;
}

.tile-vector1-1 {
  width: 200px;
  height: 120px;

  position: absolute;
  right: 0;
  top: 40px;
}

.tile-vector2-1 {
  width: 35px;
  height: 20px;

  position: absolute;
  right: 100px;
  top: 70px;
}

.tile-vector1-2 {
  width: 220px;
  height: 130px;

  position: absolute;
  right: 0;
  bottom: 50px;

  rotate: 180deg;
}

.tile-vector2-3 {
  width: 70px;
  height: 40px;

  position: absolute;
  right: 30px;
  top: 60px;

  rotate: 120deg;
}

.tile-content {
  width: 220px;
  height: 290px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 50%;
}

.tile-heading {
  margin-top: 15px;
  margin-bottom: 30px;
  color: #212353;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}

.tile-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.tile-button {
  display: flex;
  gap: 20px;
  align-items: center;

  text-decoration: none;

  color: #212353;
  font-size: 16px;
  font-weight: 800;
  line-height: 160%;
}

/* TESTIMONIALS */

.testimonials-section {
  overflow-x: hidden;
}

.testimonials-content {
  width: 1100px;
  height: 700px;

  border-radius: 50px;
  background: #9c69e2;
  margin: 80px auto;
  padding: 50px 80px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-title-white {
  margin: 40px 0;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  line-height: 130%;
}

.testimonials {
  display: flex;
  gap: 20px;
}

.test-content {
  display: flex;
  padding: 60px;
  gap: 30px;
}

.test-img {
  width: 90px;
  height: 90px;
}

.testimonial-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.testimonial-author {
  font-weight: 900;
  font-size: 18px;
  color: #212353;
}

.testimonial-author-add {
  margin-top: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 120%;

  color: #9c69e2;
}

.testimonial-text {
  height: 130px;
  width: 385px;

  margin-top: 25px;

  font-weight: 400;
  line-height: 160%;
}

.testimonial-big-box {
  width: 645px;
  height: 330px;

  border-radius: 20px;

  background-color: #ffffff;
  box-shadow: 0px 20px 0px 0px #321d504d;

  flex-shrink: 0;
}

.testimonial-small-box {
  width: 400px;
  height: 330px;

  position: relative;

  border-radius: 20px;

  background-color: #ffffff;
  box-shadow: 0px 20px 0px 0px #321d504d;

  flex-shrink: 0;
}

.testimonial-cover {
  width: 400px;
  height: 330px;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;
  border: 1px solid #9c69e2;

  flex-shrink: 0;

  background: linear-gradient(
    270deg,
    #ffffff 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonials-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* FOOTER */
.footer-border-line {
  width: 100%;
  height: 2px;
  background: #9c69e2;
  opacity: 0.2;
}

.footer-section {
  width: 1120px;
  margin: 80px auto;
}

.footer-upper-section {
  display: flex;
  justify-content: space-between;

  margin-bottom: 100px;
}

.footer-upper-buttons {
  display: flex;
  gap: 20px;
}

.footer-button {
  width: 170px;
  height: 60px;

  flex-shrink: 0;

  cursor: pointer;

  background-color: #f063b8;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-weight: 900;

  transition: 0.3s;
}

.footer-middle-section {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;
}

.footer-logo {
  height: fit-content;

  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 60px;
}

.company-name {
  color: #212353;
  font-weight: 900;
  font-size: 20px;
}

.adress1 {
  color: #212353;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;

  margin-bottom: 20px;
}

.adress2 {
  color: #212353;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.footer-column-heading {
  color: #212353;
  font-size: 16px;
  font-weight: 900;

  margin-top: 10px;
  margin-bottom: 30px;
}

.footer-column-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  color: #212353;
  font-size: 16px;
}

.footer-bottom-section {
  display: flex;
  justify-content: space-between;
}

.footer-copyrights {
  width: 360px;
  font-weight: 400;
  font-size: 12px;
  color: #212353;
}

@media (hover: hover) {
  .nav-item:hover:before {
    width: 100%;
  }

  .nav-button:hover {
    background-color: #f063b8;
    transform: scale(1.1);
    color: #ffffff;
  }

  .header-button:hover {
    background-color: #f063b8;
    color: #ffffff;

    transform: scale(1.1);
  }

  .footer-button:hover {
    background-color: #9c69e2;
    color: #ffffff;

    transform: scale(1.1);
  }
}
