/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
.container {
  width: 1250px;
  margin: 0 auto;
}

/* NAVIGATION */
.navigation {
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
}

.company-logo {
  display: flex;
  align-items: end;
  gap: 5px;
}

.logo-circle {
  width: 20px;
  height: 20px;

  border-radius: 20px;

  background-color: #9c69e2;
}

.logo-ellipse {
  width: 20px;
  height: 35px;

  border-radius: 20px;

  background-color: #f063b8;
}

.nav-items-list {
  display: flex;
  gap: 40px;
}

.active-item {
  font-weight: 700;
}

.nav-button {
  width: 210px;
  height: 60px;

  flex-shrink: 0;

  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* HEADER */
.header-content {
  height: 700px;
  display: flex;

  position: relative;
}

.header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.header-h1 {
  color: #212353;
  font-family: "Roboto";
  font-size: 80px;
  font-weight: 600;
  line-height: 110%;
}

.header-paragraph {
  width: 380px;

  font-size: 18px;
  line-height: 160%;
}

.header-img {
  width: 880px;

  position: absolute;
  right: 0;
  bottom: 0;
}

.header-button {
  width: 170px;
  height: 60px;
  flex-shrink: 0;

  background-color: #9c69e2;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-weight: 600;
}
/* DESCRIPTION */

.desription {
  width: 1100px;
  height: 560px;
  border-radius: 50px;
  background: #f063b826;

  margin: 80px auto;
  padding: 20px 0;

  display: flex;
  gap: 50px;
}
.description-text {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.desription-h2 {
  color: #212353;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

.description-paragraph {
  font-size: 18px;
  line-height: 160%;
}

/* FEATURES */

.features {
  width: 1100px;
  height: 560px;

  margin: 80px auto;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.features-paragraph {
  width: 580px;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}
