/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #4b5d68;
}
.container {
  width: 1250px;
  margin: 0 auto;
}

/* NAVIGATION */
.navigation {
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
}

.company-logo {
  display: flex;
  align-items: end;
  gap: 5px;
}

.logo-circle {
  width: 20px;
  height: 20px;

  border-radius: 20px;

  background-color: #9c69e2;
}

.logo-ellipse {
  width: 20px;
  height: 35px;

  border-radius: 20px;

  background-color: #f063b8;
}

.nav-items-list {
  display: flex;
  gap: 40px;
}

.active-item {
  font-weight: 700;
}

.nav-button {
  width: 210px;
  height: 60px;

  flex-shrink: 0;

  border-radius: 50px;
  box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* HEADER */
.header-content {
  height: 700px;
  display: flex;

  position: relative;
}

.header-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.header-h1 {
  color: #212353;
  font-family: "Roboto";
  font-size: 80px;
  font-weight: 600;
  line-height: 110%;
}

.header-paragraph {
  width: 380px;

  font-size: 18px;
  line-height: 160%;
}

.header-img {
  width: 880px;

  position: absolute;
  right: 0;
  bottom: 0;
}

.header-button {
  width: 170px;
  height: 60px;
  flex-shrink: 0;

  background-color: #9c69e2;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-weight: 600;
}
/* DESCRIPTION */

.desription {
  width: 1100px;
  height: 560px;
  border-radius: 50px;
  background: #f063b826;

  margin: 80px auto;
  padding: 20px 0;

  display: flex;
  gap: 50px;
}
.description-text {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.desription-h2 {
  color: #212353;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

.description-paragraph {
  font-size: 18px;
  line-height: 160%;
}

/* FEATURES */

.features {
  width: 1100px;

  margin: 80px auto;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.features-paragraph {
  width: 580px;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}
.tiles-box {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}
.tile {
  width: 530px;
  height: 400px;

  display: flex;
  align-items: center;

  position: relative;
}

.tile-bg {
  z-index: -1;

  position: absolute;
  right: 0;
}
.tile-img {
  position: absolute;
  left: 0;
}
.tile-vector1-1 {
  width: 200px;
  height: 120px;
  position: absolute;
  right: 0;
  top: 40px;
}
.tile-vector2-1 {
  width: 35px;
  height: 20px;
  position: absolute;
  right: 100px;
  top: 70px;
}
.tile-vector1-2 {
  width: 220px;
  height: 130px;

  position: absolute;
  right: 0;
  bottom: 50px;

  rotate: 180deg;
}
.tile-vector2-3 {
  width: 70px;
  height: 40px;
  position: absolute;

  right: 30px;
  top: 60px;
  rotate: 120deg;
}

.tile-text {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 50%;
}
.tile-h4 {
  color: #212353;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
}
.tile-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.tile-button {
  display: flex;
  gap: 20px;
  align-items: center;

  text-decoration: none;

  color: #212353;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
}
/* TESTIMONIALS */
.testimonials-section {
  width: 1100px;
  height: 700px;
  border-radius: 50px;
  background: #9c69e2;

  margin: 80px auto;
  padding: 50px 80px;

  display: flex;
  gap: 50px;
}
.testimonials-h2 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

/* FOOTER */
.footer-button {
  width: 170px;
  height: 60px;
  flex-shrink: 0;

  background-color: #f063b8;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  font-weight: 800;
}
